/* .announce-container {
  height: 100vh;
  width: 100vw;
  background-color: #538f77;
  overflow: scroll;
} */
/* .announce-info {
  width: 100vw;
  align-content: center;
} */
.announce-info input {
  margin: 30px;
  font-size: 16px;
  background-color: #095975;
  color: #2a94b8;
  height: 200px;
  width: 350px;
  border-bottom: 2px solid #538f77;
  border-radius: 10px;
}
.announce-info button {
  height: 30px;
  width: 350px;
  background-color: #095975;
  border: 2px solid #538f77;
  border-radius: 20px;
  color: #2a94b8;
  font-size: 16px;
  outline: none;
}
/* .recent {
  margin: auto;
  font-size: 26pt;
  color: #095975;
} */
