.nav-links {
  text-decoration: none;
  font-size: 14pt;
}
.nav-links:hover {
  transform: scale(1.5);
}
.contact-container {
  margin: auto;
  height: 100px;
  width: 550px;
  border: 2px solid #095975;
  border-radius: 5px;
}
.about-container {
  padding: 5px;
  height: 200px;
  width: 550px;
  border: 2px solid #095975;
  border-radius: 5px;
  display: inline-flex;
}

/* .profile-container {
  overflow: scroll;
  height: 95vh;
  width: 100vw;
  background-color: #538f77;
  margin: 0;
  display: inline-block;
  color: #095975;
} */
/* .profile-container nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} */
