/* .art-container {
  position: fixed;
  height: 95vh;
  width: 100vw;
  background-color: #538f77;
} */
/* .art-flex {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
/* .art-hold {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
} */

/* .art-hold button {
  display: inline-flex;
  flex-wrap: wrap;
} */
