/* .email-container {
  height: 100vh;
  width: 100vw;
  background-color: #538f77;
  display: inline-block;
} */
/* .email-container input {
  margin: auto;
  height: 40px;
  width: 500px;
  display: block;
} */
/* #content {
  height: 300px;
} */
